<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero-callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">Forgot Password</span>
      </h1>
      <form class="usa-form">
        <fieldset class="usa-fieldset">
          <!--          <h2><span class="usa-hero-callout-alt">Forgot Password:</span></h2>-->
          <p *ngIf="!isWaitingConfirmation" >Please enter your username, then check your email for a verification code.</p>
          <p *ngIf="isWaitingConfirmation">Please enter the verification code sent to your email.</p>
          <div [ngClass]="{'usa-input-error': usernameError}">

            <span *ngIf="httpError" class="usa-input-error-message">
              Incorrect Verification Code.
            </span>
            <br>
            <label *ngIf="isWaitingConfirmation" for="confcode">Verification Code</label>
            <input *ngIf="isWaitingConfirmation" class="usa-input" id="confcode" name="confcode" type="text"
                                                                               [(ngModel)]="confcode" required aria-required="true">

            <span *ngIf="notValidPass" class="usa-input-error-message">
              Please enter a valid password.
            </span>
            <label *ngIf="isWaitingConfirmation" for="newPass">New Password</label>
            <input *ngIf="isWaitingConfirmation" class="usa-input" id="newPass" name="newPass" type="password"
                                                                             [(ngModel)]="newPass" required aria-required="true">

            <label *ngIf="!isWaitingConfirmation" for="username">Username</label>
            <br>
            <span *ngIf="usernameError" class="usa-input-error-message">
              A proper Username is required.
            </span>
                    <input *ngIf="!isWaitingConfirmation" id="username" class="usa-input" name="username" type="text" [(ngModel)]="userName" autocapitalize="off" autocorrect="off" required="true" placeholder="Username">
            <!--<input *ngIf="!isWaitingConfirmation" type="text" name="username" autofocus [(ngModel)]="userName" required aria-required="true">-->
          </div>
          <!-- <label for="email">Email Address</label>
            <input id="email" name="email" type="email" [(ngModel)]="u.email"
            required aria-required="true" [disabled]="!u.enabled"> -->
            <br>
            <input *ngIf="isWaitingConfirmation" type="button" (click)="finishSetTempPassword(confcode, newPass)"
                                                 class="usa-button full-width-button" id="setTemp" value="Reset Password">
            <input *ngIf="!isWaitingConfirmation" type="button" (click)="beginSetTempPassword(userName)"
                                                  class="usa-button full-width-button" id="setTemp" value="Send Email">
        </fieldset>
      </form>
    </div>
  </div>
</section>
