<div class="grid-row">
    <div class="grid-col-4" *ngFor="let item of localMovieList" style="margin: 10px 0px">
    
        <p-card  header="{{item.title}} ({{item.year}})" subheader="{{item.genres.join( ' | ') }}" [style]="{width: '300px', height: '500px', 'text-align': 'center'}" styleClass="ui-card-shadow">
            <!-- <p-header>
                <div class="display-flex flex-column flex-align-center">
            </div>
            </p-header> -->
            <img  src={{item.cover_url}}  style="width:100px;height:150px;">
            <div> <b>Budget: </b> <i>{{item.budget}}</i></div>
            <div><b>Directors: </b> <i>{{item.directors}}</i></div>
            <br>
            <div>{{item.plot.join(', ').substr(0,150)}}</div>
            <p-footer>
                    <a href="\movieprofile\{{item.id}}">View Movie Profile</a>
            </p-footer>
            </p-card>
    </div>
    </div>
